{% renderTemplate "md" %}

Chicago IL | updated May 7 2025 | <a href = "https://diagrammatic.media">https://diagrammatic.media</a>

### BACKGROUND

#### EDUCATION

**2015-2022 |** Ph.D. in Media Arts and Sciences. "Diagrammatic Media: Subjectivity, Ecology, and Event". School of Arts, Media, and Engineering. Arizona State University.

**2012-2015 |** M.A. Musicology. Arizona State University.

**2007-2012 |** B.Music Music History and Literature; German minor. Ohio University.

#### OTHER

**2018 |** Critical Theory Certificate. Arizona State University.

**2011-2012 |** DAAD. University of Leipzig. Institut für Musikwissenschaft; Sprachenzentrum Leipzig.

#### ACADEMIC EMPLOYMENT

**2021-present |** Lecturer. Art Technology / Sound Practices department. School of the Art Institute of Chicago. 

**2023-present |** Adjunct Assistant Professor. New Media Art area. School of Art and Art History. University of Illinois Chicago. 

**2024-2025 |** Post-Doctoral Researcher. Leonardo/ISAST. 

**2021 |** Adjunct Assistant Professor. New Media Art area. School of Art. SUNY Purchase. 

**2015-2021 |** Research Assistant. Synthesis Center. School of Arts, Media and Engineering. Arizona State University. 

**2012-2021 |** Teaching Assistant; Instructor of Record. School of Art, Media and Engineering / School of Music. Arizona State University. 

---

### RESEARCH PRODUCTS

#### PUBLICATIONS

##### PEER-REVIEWED JOURNAL ARTICLES

Vasquez, A., Wells, T., Basu, M., Johnson, G. "From Technique to Technicity: Explorations of Chairs, Neurodiversity, and Schooling." 2022. Special issue "Thought in Motion: Erin Manning's Imperatives for Educational Research and Qualitative Inquiry", eds. Joseph Sweet et al. in _Reconceptualizing Educational Research Methodology_ 13, no. 3.

Johnson, G.L., Peterson, B.J., Ingalls, T., Sha., X.W. "Ensemble, Entrainment, and Movement in the Mess of the Matter: Non-anthropocentric Design of Responsive-Media Environments". 2019. Special issue "Somaesthetics and Technology"_Journal of Somaesthetics_ 4, no. 2.

##### CONFERENCE PROCEEDINGS

Bratt, J., Johnson, G.L., Mechtley, B., Nocek, A., Ingalls, T., Sha., X.W. "Heat and Noise (Renao): Media Ecologies and Urban Futures" 2019. in _Proceedings of 6th Annual International Conference on Movement and Computing_ (MOCO). Tempe, USA. DOI: 10.1145/3347122.3359603.

Johnson, G.L., Peterson, B.J., Ingalls, T., Sha., X.W. "Lanterns: An Enacted and Material Approach to Ensemble Group Activity with Responsive Media" w. Britta Joy Peterson, Todd Ingalls, Sha Xin Wei, in _Proceedings of the 5th Annual International Conference on Movement and Computing_ (MOCO). 2019. Genoa, IT. DOI: 10.1145/3212721.3212848.

Montpellier, E., Johnson, G., Al Faleh, O., Gigantino, J., Kidane, A., Chandolias, N., Rawls, C., Ingalls, I., Sha, X.W. “Suturing Space: Tabletop Portals for Collaboration" in _Proceedings of International Conference on Human-Computer-Interaction (HCI)_. 2015. Los Angeles. DOI: 10.1007/978-3-319-20916-6_44.

##### BOOK CHAPTERS

Sha, X.W, Johnson, G.L. "Rhythm and Textural Temporality". _Rhythm and Critique_, eds. Paola Crespi and Sunil Manghani. Edinburgh University Press. 2022.

Johnson, G.L. "Post Tenebras Lux." _The Anthropocene Laboratory_, ed. Fröydi Laszlo. 284 Publishers. 2024.

---

### DISTINCTIONS + FUNDING

#### HONORS + AWARDS

**2024 |** Dean's Award, College of Arts and Design, University of Illinois Chicago.

**2022 |** Outstanding Graduate Award, Herberger Institute of Design and the Arts, Arizona State University.

**2020 |** Teaching Excellence Award, Arizona State University. $750.

#### FELLOWSHIPS

**2025 |** AI Working Group. Center for Teaching and Learning. School of the Art Institute of Chicago. $500.

**2019-20 |** Graduate College Fellowship. Arizona State University. $10,000.

**2018-19 |** Graduate College Fellowship. Arizona State University. $10,000.

**2019 |** Revisiting Cybernetic Serendipity Student Fellowship. Role Play Symposium at National Academy of the Sciences. $2000.

**2019 |** Center for Philosophical Technologies. Experimental Fellowship. $2000.

**2011–12 |** Undergraduate Stipendium. Deutsche Akademische Austauschdienst (DAAD). 16,500 Euro.

#### RESEARCH/PRACTICE FUNDING

**2025 |** Co-Prosperity Sphere. "How to See in the Dark: Gallery Exhibition and Interdisciplinary Symposium." $2,500.

**2024 |** Artist-Run Chicago Fund + Art Design Chicago; Hyde Park Art Center. "Center for Concrete and Abstract Machines and FUTURHYTHMACHINES: Chicago House". $12,000.

**2022 |** "Actualizing Embedded Potentials: Interview-based research protocol." Arizona State University. GPSA Graduate Research and Support Program Grant. $1000.

**2021-2025 |** Research Practice Partnership: "Engaging Teachers and Neurodiverse Middle School Students in Tangible and Creative Computational Thinking Activities". Project award #2122924. Project co-founder and graduate researcher. $998,712.

**2018–19 |** DASH Scholars Award. DASH Blockchain and Arizona State University. $5000.

**2016 |** Materials for Lanterns responsive media apparatus. GPSA Jumpstart research award. Arizona State University. $2000.

**2014–15 |** Research into Richard Teitelbaum's Golem pieces. Joan Frazer Memorial Award for Judaism in Arts. Center for Jewish Studies, ASU. $1500.

**2013–2014 |** Fine Arts Talent Award. Herberger Institute of Design and the Arts. Arizona State University.

**2012–2013 |** Fine Arts Talent Award. Herberger Institute of Design and the Arts. Arizona State University.

#### TRAVEL FUNDING

**2024 |** Art Technology / Sound Practices, School of the Art Institute of Chicago. Dallas. Departmental Travel Award. $650.

**2024 |** Society for Literature, Science, and the Arts conference. Dallas. SLSA Travel award. $450.

**2023 |** Society for Literature, Science, and the Arts conference. Phoenix. SLSA Travel award. $450.

**2019 |** Society for Literature, Science, and the Arts conference. UC Irvine. NSF SLSA award. $300.

**2019 |** Society for Literature, Science, and the Arts conference. Toronto. NSF SLSA award. $300.

**2018 |** Worldbuilding Workshop. DXArts and Comparative History of Ideas. University of Washington. Center for Philosophical Technologies award. $600.

**2018 |** GPSA individual travel award. Paris. Arizona State University.

**2018 |** Society for Literature Science and the Arts, EU. Copenhagen. GPSA group travel award, Arizona State University. $8000.

**2014 |** GPSA individual travel award. Calgary. Arizona State University.

**2014 |** GPSA individual travel award. Asheville. Arizona State University.

**2014 |** HIDA Student Enrichment Award. Arizona State University.

**2014 |** HIDA Student Enrichment Award. Arizona State University.

**2014 |** School of Music Travel Award. Montreal. Arizona State University.

**2014 |** School of Music Travel Award. Stony Brook. Arizona State University.

#### UNFUNDED PROPOSALS

**2024 |** ICC NSF Award. "Scales of Sustainability: Navigating Tensions and Opportunities in Music Technology Innovation Ecosystems." Finalist. PI Lee Tusman, Co-PI Muindi Fanuel Muindi. $75,000.

**2024 |** Midwest Arts Grant. "We Don't Know Yet / What a Cinema Can Do expanded cinema festival." $4000.

**2024 |** Processing Foundation Fellowship. "Open-Source Hardware/Software Videosynth." Co-applicants Kim Nucci, Paige Naylor. $10,000.

**2024 |** Rasmussen Foundation. Invited proposal. "Writing with Animals: The Anthropocene Laboratory." Co-applicant with 284 Publishers, Froeydi Lazlo. $57,450.

**2023 |** Processing Foundation Fellowship. "Modes of Processing: Software Illuminated Zine." $10000.

---

### ACADEMIC TALKS AND CONFERENCE ACTIVITY

##### Invited Talks

**2025 |** "Symbols, Sigils, and Signals: Media Artistic Perspectives on Becoming, Understanding, and Perception." Series guest speaker. Process Explorations. Center for Process Studies. September.

**2025 |** "Post Tenebras Lux: Signs, Sigils, and Sigils" Artist guest speaker. Computational Architecture Workshop. Arts, Letters, and Numbers. Albany, NY. August.

**2025 |** "We Need to Get Abstract if We Want to Be Concrete." Artist guest speaker. Audio Engineering Society. Shure Headquarters. Niles, IL. May.

**2025 |** Virginia Commonwealth University. Richmond VA. April.

**2025 |** Center for Teaching and Learning; School of the Art Institute of Chicago. Chicago, IL. March.

**2024 |** NYU Integrate Design Media. Visiting Artist talk. Brooklyn New York. October.

**2023 |** HDK Valand School of Design and Art. Gothenburg Sweden. October.

**2022 |** _Pan-Tilt-Zoom_ Wrong Biennale event. School of the Art Institute of Chicago. March.

**2019 |** "What is Speculative Engineering?" Speculative Fiction and Nonhuman Studies Workshop, University of Chicago. December 10.

**2018 |** Alter-economies | Alter-ecologies. Speakers: Brian Massumi, Niklas Damiris. Convened by Sha Xin Wei + Erin Manning. Milieux Institute, Concordia University. June 4.

##### Conference Organization


**2025 |** How to See in the Dark. CCAM. Co-Prosperity Sphere. Chicago. June 1.

**2023 |** Informal Informations Symposium. CCAM. NEW INC, Manhattan. July 3rd.

**2022 |** Movement and Computing (MOCO). Virtual Events Chair. June 22-25.

**2021 |** SloMoCo (sponsored by Movement and Computing \[MOCO\]). Conference Chair. March-December.

**2020 |** Learning and Trust. Posthuman Network (PHuN) Symposium. February 20-22.

**2019 |** Movement and Computing (MOCO). Doctoral Consortium Chair. October 10-12.

**2019 |** Legacies of Cybernetics. Posthuman Network (PHuN) Symposium. March 24-25.

**2018 |** Posthuman Politics: Inheriting from 1968. Posthuman Network (PHuN) Graduate Student Conference. February 23-24.

**2017 |** Society for Literature, Science and the Arts. Workshop Chair & Assistant Art Curator. November 9-12.

**2017 |** Experiencing the Posthuman. Posthuman Network (PHuN) Graduate Student Conference. March 24-25.

##### Panels Organized

**2024 |** FUTURHYTHMACHINES: CHICAGO HOUSE MUSIC with Muindi Fanuel Muindi. Panelists Thomas DeFrantz, Meida McNeal, and Duane Powell. Chicago. May.

**2023 |** "Weird Dreams, Weird Analysis" with Phillip Thurtle. Society for Literature Science and the Arts. Phoenix. October.

**2022 |** "Collective Subjectivities" with Angela Sakrison. American Association of Geographers. Feb 25-Mar 1.

**2021 |** SloMoCo @ SLSA I, II, & III with Jessica Rajko, Lisa Jamhoury, and Megan Young. Society for Literature Science and the Arts. Online. September 30-October 3.

**2021 |** "Unfriended (2014), a Riff-Along with Andrew Culp" with Angela Sakrison and Muindi Fanuel Muindi. Society for Literature Science and the Arts. Online. September 30-October 3.

**2019 |** "What is Speculative Engineering?" Society for Literature, Science, and the Arts. Irvine. Nov 7-9.

**2019 |** "Haunted by Cybernetics" Roundtable with Jon Bratt, Thierry Bardini, Angela Sakrison. Society for Literature Science and the Arts. Nov 7-9.

**2017 |** "Posthuman Ecologies I, II, III" with Jon Bratt, Celina Osuna, Angela Sakrison, and Zach Thomas. Society for Literature Science and the Arts. Nov 9-12.

##### Papers Presented

**2024 |** "I WANT AN AI FOR PRESIDENT" with Kristin McWharter. Society for Literature, Science, and the Arts. Phoenix. October.

**2024 |** "CCAM". Electronics Faire. Temple University Library. April.

**2023 |** "Weird Dreams, Weird Analysis -- Generative Zines for Social Dreaming". Society for Literature, Science, and the Arts. Phoenix. October.

**2023 |** "To Get Concrete, We Need to Get Abstract: Lived Abstraction in the New Media Arts." Informal Informations. Manhattan. July.

**2022 |** "Diagrammatic Field Reports: Bikepacking, Pathfinding, and Computer-assisted Schizoanalysis." American Association of Geographers. Feb 25-Mar 1.

**2022 |** "Wearable Technologies for Active Learning and Sensory Regulation with Dignity" w. Anani Vasquez et al. Arizona Council on Exceptional Children. Feb 15-17.

**2021 |** "From Technique to Technicity: Non-Methodological Exploration of Chairs, Neurodiversity, and School" w. Anani Vasquez, Tim Wells, and Marina Basu. International Congress on Qualitative Methods. May 19-22.

**2021 |** "Field Work in the Posthumanities" I & II w. Angela Sakrison. American Comparative Literature Association, in Seminar "The Material Turn in Comparative Literature." April 8-11.

**2021 |** "Field Reports on the Institute for Imposters" w. Anani Vasquez, Tim Wells, and Marina Basu. Techniques in the Making Symposium @ Center for Philosophical Technologies. April 15.

**2021 |** "The Riff-Along: Arching Towards Experimental, Collaborative, Delight-based Scholarship" w. Angela Sakrison. American Association of Geographers. April 7-11.

**2020 |** "More-than-human Thought: New Media and Difference in Itself" International Symposium on Electronic Arts (ISEA). October 13-18.

**2020 |** "Portacular Resonances: Radiophonic Fields as Socioinformatics" American Association of Geographers. April 6-10.

**2020 |** "Idiotic Resonances and the Uncanny Valley of the Sun: Towards Post-network Socioinformatics." American Comparative Literature Association. March 19-22. Canceled due to Covid-19.

**2020 |** “Exorcising the Ghosts in the Machine: Towards a Post-Cybernetic New Media Pedagogy". Southwest Humanities Symposium. February 20-22.

**2020 |** "Portacular Resonances: Radiophonic Fields as Socioinformatics" w. Brandon Mechtley. Alien Processes: Reproduction & Time, The New Centre for Research and Practice. February 1.

**2019 |** "Idiotic Resonances: Uncanny Valley of the Sun.” Association of Pacific Coast Geographers. October 16-19.

**2018 |** "Thermal Economies.” Society for Literature, Science, and the Arts. November 15-18.

**2018 |** "Mutual Aid and the Staging of Continuous Economies of Cooperation.” European Society for Literature, Science, and the Arts. June 13-18.

**2018 |** "Mutual Aid and the Staging of Continuous Economies of Cooperation” Why Do Animal Studies? Conference. April 27-28.

**2018 |** "Mutual Space." Role/Play Creativity and Collaboration Graduate Student Symposium. "Cybernetic Serendipity Revisited." National Academy of the Sciences Colloquium. March 12-14.

**2017 |** "Coordination and the Asymmetry of Indifference: Experiments with Lanterns Responsive Media System". Society for Literature Science, and the Arts. November 9-12.

**2017 |** “Towards a Post-Human Experience Through Choreography in the Responsive Media Environment” European Society for Literature, Science, and the Arts. June 24-26.

**2017 |** "Sentient: Responsive Media, Movement and Experiment towards a Posthuman Experience" Arts in Society: Gestures that Matter. June 14-16.

**2014 |** Presentations on musical bioregionalism and the site-specific work of David Dunn. Ecomusicologies, UNC Ashville; Under Western Skies, Mont Royal College, Calgary CA; Stony Brook Graduate Music Symposium; McGill Graduate Music Symposium; AMS Rocky Mountain Chapter annual meeting, Arizona State University.

**2013 – 2014 |** Presentations on musical-dramaturgical interpretations of Nietzsche's philosophy in Wolfgang Rihm’s Opera _Dionysos_: AMS Rocky Mountain Chapter, Northern Arizona University; Vanderbilt Graduate German Studies Association Conference.

##### Discussant

**2020 |** Legacies of Cybernetics in (Post)Humanistic Geography and Urbanism. American Association of Geographers. April 6-10. Canceled due to Covid-19.

**2020 |** Collaborative Methods Between Cinema and Media Scholars and Media Geographers. Society of Cinema and Media Studies. April 6-10. Canceled due to Covid-19.

##### Workshops

**2025 |** "CCAM ESTUARY." Hairpin Arts Center. March. 

**2025 |** "Intro to Microsound." 4-part course. Experimental Sound Studio w. CCAM. March. 

**2024 |** "CCAM EARTH: Multiperson Musical Interactions with DIY Synths." FUTURHYTHMACHINES: CHICAGO HOUSE MUSIC" hosted by CCAM. Watershed: Art and Ecology. May.

**2024 |** "In Space Aliens Can Hear You Scream: A Hands-on Introduction to Soldering and DIY Synth". Electronics Faire. Temple University. April.

**2022 |** "Actualizing Embedded Potentials: Surfacing Missed Connections, Minor Gestures, and Latent Solidarities". _What Do We Mean When We Say We?_ School of the Art Institute of Chicago (SAIC). April 22.

**2021 |** "Diagrammatic Field Reports: Bikepacking and Computer-assisted Journaling" for participation in HCI Cycling Workshop at MobileHCI. September 27-October 1.

**2019 |** "Co-constructing Events in Responsive Environments" w. Sha Xin Wei et al. Movement and Computing (MOCO). October 10-12.

**2019 |** "Composing Ecosystemically in Responsive Environments with Gestural Media, Objects and Textures" w. Sha Xin Wei et al. Association for Computing Machinery: Tangible Embedded/Embodied Interaction (TEI). March 17-20.

**2018 |** Urban Extremophiles. Laboratory for Critical Technics. Contributions to design workshop faciltiated by Lisa Ma. Arizona State University.

**2017 |** "Coordinations and Coarticulations: Enacted Experiments and Games with Responsive Media." Society for Literature Science, and the Arts. November 9-12.

**2017 |** "Coordinations, Collisions, and Contusions." Post-Human Network (PHuN) Graduate Student Conference. March 24-25.

**2015 |** “atmospheres for thought,” w. Angela Ellsworth, Dehlia Hannah, Ron Broglio, Hugh Crawford, Sha Xin Wei. Balance/Unbalance. March 19-29.

---
# media art

##### performances [abridged]


**2025 |** ambient modular and live electronics [as hypergrace]. THRESHOLD. Curated by Claire Fleming Staples. Humboldt Park Project Space. Chicago IL.

**2024 |** modular synthesis. NoNation. Chicago IL.

**2023 |** modular synthesis. Comfort Station. Chicago IL.

**2023 |** modular synthesis. Comfort Station. Chicago IL.

**2021 |** live video and sound coding. A Tilting Body of Precarious Maps. Bus Projects, Melbourne AU.

**2017 |** _tired hearts bleed darkness and kick light_ cello and live electronics for dance. San Francisco Mission District Theater.

**2017 |** _tired hearts bleed darkness and kick light_ cello and live electronics for dance. Tempe Center for the Arts, AZ.

**2017 |** _Sentient, Lanterns_. interactive dance. Goldsmiths University, London UK.

**2016 |** _visible sketch v. 3_. Kennedy Center for the Performing Arts, Washington DC.

**2016 |** _tired hearts bleed darkness and kick light_ cello and live electronics for dance. Western Wyoming Community College. Rock Springs, WY.

**2016 |** _visible sketch v. 3_. Western Wyoming Community College. Rock Springs, WY.

**2016 |** _gbjjck_ improvised live electronics and cello. Society for Electroacoustic Music in the United States (SEAMUS). Statesboro, GA.

**2016 |** _gbjjck_ improvised live electronics and cello. The Trunk Space. Phoenix, AZ.

**2016 |** _gari_ laptop ensemble piece. Cincinnati Contemporary Arts Center, OH.

**2016 |** \_gulch\_\_. live electronics improvisation. Oh My Ears! Mesa Performing Arts Center, AZ.

**2016 |** \_gulch\_\_. live electronics improvisation. Interference Series. Flagstaff, AZ.

**2015 |** live electronics + cello improvisation for dance. SSOO. Flagstaff, AZ.

**2015 |** laptop ensemble performance. SSOO. Flagstaff, AZ.

**2014 |** laptop ensemble and immersive media performance. A2RU. Iowa State University. Ames, IA.

##### group shows

**2025 |** _Peace Sigil_. Show: The Sorcerer's Apprentice. Curated by Brandon Alvendia. Co-Prosperity Sphere @ New Art City. Chicago, IL. Virtual reality 3D environment.

**2025 |** _Post Tenebras Lux_. Co-Prosperity Sphere. Chicago, IL. Large-scale sound and media installation.

**2024 |** _Salish Sea_. Carver Substation. Curated by Patrick Glennon and Chrystine Rayburn. Richmond, VA. Generative audio system.

**2019 |** _Idiotic Resonances_. Stadt Land Fluss. Berlin, DE. Media installation.

**2019 |** _Idiotic Resonances_. Experimental Engagements: Happenings. University of California Irvine, CA. Media installation.

**2019 |** _Idiotic Resonances_. Uncanny Valley curated by David Corns. Wave Pool Gallery. Cincinnati, OH. Media installation.

**2018 |** _Deeptime Archeologies_. Timeshores. Arizona State University Phoenix Gallery. Media installations.

**2016-17 |** _TOPO_ interactive public art installation. Scottsdale Public Art, InFlux Cycle 6. Scottsdale Fashion Square, AZ. Large-scale sculptural media installation.

**2015 |**_celestial variations//:i_. ARTELPHX. Phoenix. AZ. Media installation.

**2014 |**_Surveillance Trap_. Covert Operations. Scottsdale Museum of Contemporary Art educational space, AZ. Media installation.

---

## TEACHING EXPERIENCE

#### SCHOOL OF THE ART INSTITUTE OF CHICAGO 2021-now

grad + mixed

- 5000// Chaosmotic Systems: Chaos, Culture and Computation [Seminar]
- 4000// Anxious Media Ecologies: Anxiety and/as a Technology of Resistance [Seminar]

undergrad

- 3000// Money Moves: (Post-)Capitalist Sorcery
- 3000// Web Art [Professional Practice]
- 3000// Creative Code and Interactive Art [Studio]
- 2000// Art and Technology Practices [Studio]

#### UNIVERSITY OF ILLINOIS CHICAGO 2023-now

grad

- 500// Sensations, Visions, and Dreams for a New Weird Anthropocene [Seminar] 

undergrad

- 200// More-than-human Sonic Ecologies: DIY Hardware/Software for Sound Performance and Installation [Studio]
- 100// Introduction to Creative Coding for New Media [Studio]
- 100// Introduction to New Media Art [Studio]

#### SUNY PURCHASE 2021

- 200// Programming for Visual Arts [Studio]

#### ARIZONA STATE UNIVERSITY 2019

- 400// Social Information Systems [Seminar/Studio]

### FUNDED CAMPUS GUESTS 


- 2025 Cassie Tarkajian, Muindi Fanuel Muindi, Dakota Gearhart, Jackie Turpin
- 2024 Brian Holmes, Asa Sakrison
- 2019 Thierry Bardini, Phillip Thurtle, Niklas Damiris
- 2018 Kavita Philip 
- 2017 Marcel O'Gorman
- 2015 Tim Place, Negativland, John Wiese


---

#### PROFESSIONAL and DEPARTMENTAL SERVICE

**2025 |** Leonardo Journal, reviewer.

**2023-2024 |** SAIC Art Technology and Sound Practices, curriculum committee

**2023-2024 |** SAIC Art and Technology Studies, graduate admissions committee

**2020-present |** Movement and Computing (MOCO) Steering Committee, member

**2016-present |** Society for Literature Science and the Arts, member

**2016 |** New Instruments for Musical Expression, reviewer

**2016 |** Movement and Computing, reviewer

**2015–2018 |** AMESA (Arts, Media and Engineering Graduate Student Association), director

**2013-2015 |** Rocky Mountain Chapter of the American Musicological Society, student representative

#### COMPUTING SKILLS

_languages:_ JS/HTML/CSS, python, Java

_multimedia technologies:_ Max/MSP/Jitter (Gen~, Jamoma, odot, MUBU, ICST), OpenCV, PureData, OSC, SuperCollider, IRCAM tools

_applications:_ Ableton Live, Max4Live, MadMapper, Unity, Digital Performer, Sibelius, Finale, Adobe Creative Suite (Photoshop, Illustrator, InDesign, Premiere), Logic, Reaper

_physical computing:_ Daisy, Arduino, Teensy, Bela, Raspberry Pi, piezo microphones, thermal cameras, IMUs (accelerometer, gyroscope), solenoids

_blockchain:_ Ethereum Solidity, GPU mining

_multimedia libraries:_ processing, p5\*js, openGL

_web technologies:_ heroku, AWS, digital ocean, weebly, GoogleApps, Twitter Bootstrap, squarespace, googlesites, wiki, Twitter API

_machine learning:_ wekinator, TensorFlow, ComfyUI, local GPTs

_motion capture:_ OpenNI/Kinect OptiTrack

#### LANGUAGE

German (DSH3; C2)

Spanish (basic)

Latin (reading)

English (native)

{% endrenderTemplate %}
