---
layout: simple.njk
tags: project

---
<div>
	<h1>{{ title }}</h1>
	<h5 style="text-align:left">{{ subtitle }} ({{ year }})</h5>


	{% if projecttags %}
		<p>
			{%- set tagArray = projecttags.split(',') -%}
			{%- for tag in tagArray -%}
				{%- set cleanTag = tag.trim() -%}
				<a href="/projects/{{ cleanTag | slug }}/">#{{ cleanTag }}</a>{% if not loop.last %}, {% endif %}
			{%- endfor -%}
		</p>
	{% endif %}

	{% if collaborators %}
		<p style="text-align:right">collaboration with: 
		
		{% for collaborator in collaborators %}
			<span>{{collaborator}}{% if not loop.last %}, {% endif %}</span>
		{% endfor %}
		
		
		</p>
	{% endif %}

	<article>
		{{ content | linkifyHashtags | safe }}
	</article>
</div>

