---
layout: simple.njk
title: CURRICULUM VITAE
date: 2024-10-06
---

<style> 
    main {
        max-width: 1000px;
        font-size: 14pt; 
        line-height: 14pt;
          };

      hl {
  break-before: page;
}    

</style>

<button style = "position: relative;float:right"><a href = "/cv-teaching-print">printable</a></button>

{% renderFile "src/_includes/cvdata-teaching.njk" %}
